<div class="setting">
<div class="label"><label for="rebuild_queue_args">RebuildQueue arguments:</label></div>
<div class="field">
<input name="rebuild_queue_args" id="rebuild_queue_args" size="20" value="<TMPL_VAR NAME=REBUILD_QUEUE_ARGS ESCAPE=HTML>" />
</div>
</div>
